.myBG {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1129&q=80);
  background-size: cover;
}

.navigation {
  position: sticky;
  top: 0;
  z-index: 1001;
}

.jumbotron {
  height: 70%;
  border-style: solid;
  color: #F7F7F7;
  background: #616571;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.row {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

p {
  color: black;
  font-size: 25px;
}

.banner {
  font-size: 3.rem;
  color: white;
  display: block;
  z-index: 10;
  top: 50%;
}

.text {
  border-style: solid;
  height: 30%;
  color: #F7F7F7;
  background: #93DEFF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}